#navigation{
    height: 130px;
    /* border: 1px solid black; */
}



.navbar-up{
    height: 35px;
    /* border: 1px solid red; */
    background-color:  #ff9100;
}


.navbar-up-left{
    /* border: 1px solid black; */
    height: 35px;
}

.navbar-up-left ul{
    display: flex;
    list-style: none;
    color: white;
    margin-top: 5px;
}

.navbar-up-left ul li{
    margin: 0px 10px;
    cursor: pointer;
}


.navbar-up-left-line-one{
    height: 20px;
    width: 2px;
    background-color: white;
    margin-top: 4px;
    border-radius: 20px;
}

.navbar-up-left-line-two{
    height: 20px;
    width: 2px;
    background-color: white;
    margin-top: 4px;
    border-radius: 20px;
}


.navbar-up-right{
    /* border: 1px solid black; */
    height: 35px;
}

.navbar-up-right ul{
    list-style: none;
    display: flex;
    color: white;
    margin-left: 300px;
    margin-top: 5px;
}

.navbar-up-right ul li{
    margin: 0px 5px;
    cursor: pointer;
}

.navbar-up-right-line{
    height: 20px;
    width: 2px;
    background-color: white;
    margin-top: 4px;
    border-radius: 20px;
}




.navbar-down-left{
    height: 70px;
    /* border: 1px solid black; */
    width: 120px;
    background: url(../image/Naxtel-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 40px;
    margin-top: 15px;
}


.navbar-down-middle ul{
    display: flex;
    list-style: none;
    margin-top: 35px;
}

.navbar-down-middle ul li{
    margin: 0px 12px;
    font-size: 17px;
    font-weight: 600;
    color: gray;
    cursor: pointer;
}


.navbar-down-right{
    margin-top: 35px;
    margin-left: 355px;

}

.navbar-down-right i{
    color: gray;
}



#slide{
    height: 500px;
    /* border: 1px solid black; */
    background: url(../image/1-lik.jpg);
    background-size: cover;

}


#cart{
    height: 650px;
    /* border: 1px solid black; */
}


.cart-header{
    /* border: 1px solid black; */
    display: inline-block;
    margin-left: 845px;
    margin-top: 30px;

}


.cart-header h2{
    color: gray;
    font-weight: 500;
}



.cart-left{
    height: 500px;
    width: 400px;
    /* border: 1px solid black; */
    background: url(../image/Avantaj-10_2.jpg);
    background-size: contain;
    margin-top: 20px;
}

.cart-middle{
    height: 500px;
    width: 400px;
    /* border: 1px solid black; */
    background: url(../image/Avantaj-15_2.jpg);
    background-size: contain;
    margin-top: 20px;
}

.cart-right{
    height: 500px;
    width: 400px;
    /* border: 1px solid black; */
    background: url(../image/Avantaj-25_2.jpg);
    background-size: contain;
    margin-top: 20px;
}





#application{
    height: 500px;
    /* border: 1px solid black; */
    background-color: #ff9100;
    border-radius: 0px 0px 0px 350px;
    display: flex;
    background-image: url(../image/naxtel_plus_background_en.png);
    background-position: right;
    padding-top: 30px;
}




.app-left{
    height: 480px;
    width: 850px;
    margin-left: 100px;
    /* border: 1px solid black; */
}



.app-left img{
    height: 100px;
    width: 100px;
    margin-left: 30px;
}

.app-left h1{
    color: white;
    font-size: 48px;
    margin-left: 34px;
    margin-top: 20px;
}


.app-left h4{
    color: white;
    line-height: 25px;
    margin-left: 34px;
    font-size: 18px;
}


.app-left-btn{
    height: 100px;
    width: 850px;
    /* border: 1px solid black; */
    display: flex;
}


.app-left-btn-one img{
    margin-top: 14px;
    height: 55px;
    width: 190px;
}

.app-left-btn-two img{
    margin-top: 14px;
    height: 55px;
    width: 190px;
}

.app-left-btn-three img{
    margin-top: 14px;
    height: 55px;
    width: 190px;
}



.app-right{
    height: 480px;
    width: 600px;
    /* border: 1px solid black; */
}